	
/*

.banner-title {
	font-size:15px;
	color:white;
	display: inline-block;
	position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
	top: 40%; 
    text-align: center;
    width: 60%;
}
	

*/



/*https://www.w3schools.com/howto/tryit.asp?filename=tryhow_js_mobile_navbar */ 






/*
div {
	background-color: red;
}

.header-section {
	float: left;
	margin-left: 5%;
	width: 90%;
}

.logo-section {
	float: left;
	margin-left: 5%;z
	width: 90%;
}

.text-section {
	float: left;
	margin-left: 5%;
	width: 90%;
}

.link-section {
	float: left;
	margin-left: 5%;
	width: 90%;
}

*/

/* going to be 100% in the container they are in */ 

/*
img {
	width: 100%;
}

*/

/*desktop version */

/*
@media (min-width:600px) {
	.header-section {
		margin-left: 10%;
		width: 80%;
	}

	.logo-section {
		margin-left: 10%;
		width: 20%;
		min-height: 40%;
	}

	.text-section {
		margin-left: 10%;
		width: 50%;
		min-height: 40%;
	}

	.link-section {
		margin-left: 10%;
		width: 20%;
	}

}
*/

/*
#search-box {
	padding-top:2%;
	padding-bottom:2%; 
}

#search-box input {
	width: 40%;
	height: 4%;
}

*/