body { 
	margin:0; 
	padding:0;
}  

.nav-logo-link img {
	width:100%;
	position: relative;
}

.nav-logo-link {
	background-color: yellow;
	position: relative;
}

.search-box input[type="text"]{
	position: relative; 
	width:50%
}

.search-box button[type="submit"]{
	position: relative;
}


/* Hide the links inside the navigation menu (except for logo/home) */
#nav-link {
	display: none;
}

/* Style navigation menu links */
#nav-link a {
  color: red;
  padding: 14px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

/* Logo hover */
#nav-link a:hover {
  background-color: green;
  color: red;
}

/* Style the hamburger menu */
#ham-button a.icon {
  background: black;
}

#ham-button a:hover {
  background-color: green;
  color: black;
  opacity; 0.9;
} 

/* End of code for Navigation Menu - Start Headin and Image */ 

.banner-image img {
	width: 100%;
	display: block;
}





/*desktop version */
@media (min-width:600px) {
	
	.nav-logo-link {
		max-width: 33%; 
		flex-basis: 100%;
		float: left; 
	}
	
	.nav-logo-link img{
		width:100%;
	}
	
	.search-box {
		background-color: green;
	}
	.search-box input[type="text"]{
		width:40%;
	}
	
	#nav-link a {
		background-color: green;
		float: right;
	}

	#nav-link a:hover {
	  background: blue;
	  color: red;
	}
	
	#nav-link {
		display: block;
	}
	
	#ham-button a.icon {
		display: none;
	}
	
	/* End of code for Navigation Menu - Start Headin and Image */ 
	
	/* 
	.banner-title {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		color: white;
		background-color: green; 
		font-size: 3vw;
		text-align: center;
	}
	
	.banner { 
		position: relative;
		text-align: center;
		color: white;
		width: 100%;
	}
	
	*/
	
	
	
	
	
	
}