body { 
	margin:0; 
}  

.banner-image img {
  width: 100%;
  height: auto;
}

.nav-logo-link {
	position: absolute;
}	

/* https://www.w3schools.com/howto/tryit.asp?filename=tryhow_js_mobile_navbar */ 

.nav-bar #phone-nav-link {
  display: none;
}
.nav-bar a {
  color: red;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}
.nav-bar a.icon {
  background: blue;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}
/* Affect both log an nav abr */
.nav-bar a:hover {
  background-color: pink;
  color: black;
  opacity; 0.9;
}
/* Example end */ 


/*desktop version */
@media (min-width:600px) {
	
/* https://css-tricks.com/listless-navigation-using-css-to-do-more-with-less/ */ 
/* https://codepen.io/bkbillma/pen/mKkEv */ 

	.nav-link {
		background: #green;
	}

	.nav-item { 
		padding: 20px;
		float: right;
	}

	a {  
	  text-decoration: none;
	}

	.nav-item:hover {
	  background: blue;
	  color: red;
	}

	.nav-bar {
	  background: pink;
	}
}






























/* Experiment */ 


/*
#nav-link a { 
	display:block;
	float: right;
	text-decoration: none;
	padding: 10px;	
}

#nav-link:hover {
  background: #blue;
  color: red;
}
.nav-bar {
  background: #1F1F1F;
  
  width: 80%;
  max-width: 1000px;
  height: 100%;
  
  position: absolute;
  left: 10%
*/



/*

/*https://www.w3schools.com/css/css_navbar_horizontal.asp 

.nav-link {
	float: right;
	display: block;
	padding: 8px;
	color: green; 
	background-color: red;
	text-decoration: none;
	
}
.nav-link a: hover {
  background-color: #blue;
}

.search-box { 
	display: block;
	padding: 8px;
	background-color: #dddddd;
}

.nav-logo-link { 
	display: block;
	padding: 8px;
	background-color: #dddddd;
}
*/