body { 
	margin:0; 
	padding:0;
}  

.nav-logo-link img {
	width:100%;
}


.search-box {
	float: left;
	max-width: 30%;
	padding-top:3%;
	padding-left:2%; 
}

.search-box input[type="text"]{
	width:100%;
	width: 200px; 
	height: 30px;
}



/* Hide the links inside the navigation menu (except for logo/home) */
#nav-link {
	display: none;
	padding-top: 71px;
}

/* Style navigation menu links */
#nav-link a {
  color: red;
  padding: 30px;
  text-decoration: none;
  font-size: 20px;
  display: block;
}

/* Logo hover */
#nav-link a:hover {
  background-color: green;
  color: red;
}

/* Style the hamburger menu */
#ham-button a.icon {
	float: right; 
	margin: 8px;
	color: white;
	background: yellow;
}

#ham-button a:hover {
  background-color: green;
  color: yellow;
  opacity: 0.9;
} 

/* End of code for Navigation Menu - Start Headin and Image */ 

.banner img {
	width: 100%;
	display: block;
}

/*desktop version */
@media (min-width:834px) {
	
	.nav-logo-link {
		max-width: 42%;	
		float: left; 
	}
	
	.nav-logo-link img{
		width:100%;
	}
	
	.search-box {
		max-width: 40%;
		float: left;
		padding-top:3%;	
	}
	.search-box input[type="text"]{
		width:100%;
		width: 200px; 
		height: 30px;
	}
	
	
	
	#nav-link { 
		display: inline-block; 
		float: right; 
		width: 28%;
		padding-left: 1%; 
		padding-top: 1.5%; 
		padding-right: 0.5%; 
		padding-bottom:1%; 
	} 
	
	#nav-link a { 
		margin: 1%; 
		
		width: 40%;
		display: inline-block; 
		font-size: 20px; 
		text-align: center;  
		text-decoration: none; 
		padding: 1%; 
	} 
	
	#nav-link a:hover {
	  background: blue;
	  color: red;
	}
	
	
	#ham-button a.icon {
		display: none;
	}
	
	
@media (min-width: 1210px) {
	
	#nav-link { 
		display: inline-block; 
		float: right; 
		width: 37%;
		
		
		
		padding-left: 1%; 
		padding-top: 1.5%; 
		padding-right: 0.5%; 
		padding-bottom:1%; 
		
	} 
	
	#nav-link a { 
		background-color: white;
		width: 20%;
		display: inline-block; 
		font-size: 22px; 
		text-align: center;  
		text-decoration: none; 
		padding-top: 4%; 
		padding-bottom: 4%;
		
		/*
		padding: 1%; 
		*/ 
		
	} 
}	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	/*
	
	
	
	#nav-link {
	
		display: block;
		float: right;
		width: 38%; 
		padding: 0;	
		background-color: pink; 
		margin: auto; 
	}

	#nav-link a {
		background-color: green;
		float: right;
		height: 4px;
		padding-top: 1%; 
		margin: 1%; 
		text-decoration: none;
		font-size: 20px;
		display: block;
	}
	

	
	
}	

*/ 

	
	/* End of code for Navigation Menu - Start Heading and Image */
	
	/*
	.banner-title {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		color: white;
		background-color: green; 
		font-size: 3vw;
		text-align: center;
		
	}
	
	.banner { 
		position: relative;
		text-align: center;
		color: white;
	}
	*/
}